@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
:root {
    --negro: #000000;
    --color-resaltado: #2e5e5a;
    --color-cat: #797979;
    --menu-color: #111;
    --menu-texto: #ffffff;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100vw;
}

.menu {
    background-color: var(--menu-color);
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.menu a {
    color: var(--menu-texto);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

a:hover {
    color: var(--color-resaltado) !important;
    cursor: pointer;
}

.menu li {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2%;
    text-align: center;
    padding-bottom: 2%;
    cursor: pointer;
}

.menu li:hover {
    border: 2px solid var(--color-resaltado);
    margin-top: 0px;
    margin-bottom: 0px;
}

main {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.cats-box {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1vh;
}

.cat-item {
    height: 100vw;
    border: 2px solid var(--color-cat);
    margin-bottom: 2%;
    border-radius: 5%;
    position: relative;
    cursor: pointer;
}

.cat-item:nth-child(1n) {
    background-color: #4bf3ff;
    color: #ff640a;
}

.cat-item:nth-child(2n) {
    background-color: #5dff72;
    color: #b700ff;
}

.cat-item:nth-child(3n) {
    background-color: #b700ff;
    color: #ffffff;
}

.cat-item:last-child {
    background-color: #ff0000;
    color: #ffffff;
}

.item-icon i {
    font-size: 70vw;
}

.cat-item p {
    font-size: 1.4em;
}

@media all and (min-width: 700px) {
    .item-icon i {
        font-size: 18vw;
    }
}

.item-container {
    text-align: center;
    left: 0;
    right: 0;
}

.item-container img {
    width: 80%;
    border-radius: 1.4em;
}

.item-container h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.item-container h1 {
    font-weight: bold;
    font-size: large;
}

footer {
    background-color: var(--menu-color);
    padding: 1%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@media all and (min-width: 700px) {
    .menu {
        width: 100vw;
    }
    .menu ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .menu li {
        padding: 10px;
        flex: 1;
    }
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    .cats-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cat-item {
        margin: 5px;
        height: 28vw;
        text-align: center;
        border: 2px solid var(--color-cat)
    }
}

.location a {
    text-decoration: none;
    color: var(--color-resaltado);
}

.location {
    margin-top: 15px;
    background-color: #000000;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    border-radius: 1.4em;
    padding: 1%;
}

.location li {
    margin-left: 5%;
    border-radius: 5%;
}

.book-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1vh;
}

.book-item {
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 5%;
    position: relative;
    cursor: pointer;
}

@media all and (min-width: 700px) {
    .book-box {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .book-item {
        height: 35vw;
    }
    .book-item img {
        width: 95%;
    }
    .book-item img:hover {
        width: 100%;
    }
}

.detail-box {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.detail-box button {
    width: 100%;
    background-color: var(--color-cat);
    color: white;
    border-radius: 1.4em;
}

.detail-box button:hover {
    background-color: var(--color-resaltado);
    color: orange
}

.detail-box img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 1.4em;
}

.book-side {
    position: relative;
}

.book-side:nth-child(odd) {
    border: 2px solid black;
    border-radius: 1.4em;
    padding: 1em;
    margin-bottom: 1em;
}

.info-book li:nth-child(1) {
    margin-bottom: 10%;
}

.info-book li:nth-child(2) {
    font-weight: bold;
}

.info-book li:nth-child(3) {
    font-weight: bold;
    font-style: oblique;
}

@media all and (min-width: 700px) {
    .detail-box {
        grid-template-columns: 1fr 1fr;
        width: 60%;
    }
    .detail-box img {
        width: 100%;
    }
    .book-side:nth-child(odd) {
        margin-right: 4em;
        margin-bottom: 0em;
    }
}